<div class="row">
  <div class="col">
    <h5>User Details</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <a [routerLink]="['/']">Back</a>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Login</th>
          <th>Avatar</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody *ngIf="user">
        <tr>
          <td><a [routerLink]="['/user-details',user.login]">{{user.login}}</a></td>
          <td><img style="height: 50px;" src="{{user.avatar_url}}" alt="{{user.login}}"></td>
          <td>{{user.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
